<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="{{product_name}}" Language="2052" Version="{{version}}" Manufacturer="{{manufacturer}}" UpgradeCode="{{upgrade_code}}">
    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="{{product_name}}.cab" EmbedCab="yes" />
    <MajorUpgrade Schedule="afterInstallInitialize" AllowSameVersionUpgrades="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="{{program_files_dir}}">
        <Directory Id="APPLICATIONFOLDER" Name="{{product_name}}">
          {{#each binaries}}
          <Component Id="{{guid}}" Guid="{{guid}}">
            <File Id="{{id}}" Source="{{source}}" KeyPath="yes" />
          </Component>
          {{/each}}
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainApplication" Title="Main Application" Level="1">
      {{#each binaries}}
      <ComponentRef Id="{{guid}}" />
      {{/each}}
    </Feature>

    <UI>
      <UIRef Id="WixUI_Minimal" />
    </UI>
  </Product>
</Wix>