name: Cleanup Artifacts
on:
  schedule:
    - cron: '0 0 * * *' # 每天运行一次
  workflow_dispatch:    # 支持手动触发

permissions:
  actions: write
  contents: read

jobs:
  cleanup_releases:
    runs-on: ubuntu-latest
    name: 清理发布任务 (保留最新3个)
    steps:
      - name: Delete old release artifacts
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          # 指定你的发布 Workflow 文件名
          workflow: version-release.yml

          # 保留策略
          retain_days: 0       # 过期天数设为0 (完全由下面数量控制)
          keep_minimum_runs: 5 # 无论过期与否，死保最新的 5 个

  cleanup_cdn:
    runs-on: ubuntu-latest
    name: 清理CDN任务 (只保留最新1个)
    steps:
      - name: Delete old CDN artifacts
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          workflow: upload-to-r2.yml

          retain_days: 0
          keep_minimum_runs: 1 # CDN 任务通常不需要留历史，留 1 个备查即可